/* default layout top section styiling */
.topsectionleft
{
float:left center;
    position:relative;
}
header img
{
    float:center;
     position:relative;
    width:50px;
    height:50px;
}
.topsectionleft
{
float:right center;
 position:relative;}
/*end of top section styling*/

/*social icons*/
li img{
width:25px;
height:25px;
}


body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li, header ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
/*img { 
                width: 100%; 
                height: 100%; 
                object-fit: contain; 
}*/

table { 
                width: 100%; 
                height: 100%; 
    margin: 0;
  padding-bottom: 0;
    Padding-top: 0;
                object-fit: contain; 
    border-collapse: collapse;
    border-spacing: 0px;
}

table p{ 
                width: 500px; 
}

a:hover {
    text-decoration: underline;
}
h1 {
     column-span: all;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    padding: 0em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
   margin: 20px auto 40px;
    font-size: 1em;
}
.posts{
    column-count:3;
   column-gap:10px;
    column-width:30%;
    column-height:50%;
    /*display: flex;*/
}

ul.posts li {
    list-style: none;
}

.posts div{
font-size:1px,}

h2{padding: 0;}
