

/* default layout top section styling */
*{
    font-family: "Lucida Sans";
}

header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-bottom:10px;
       
}
h2{
    text-align:center;
}

header img
{
    width:150px;
    height:150px;
}

/*social icons*/
li img{
    width:60%;
    height:200px;
    padding:0px;
    margin:0;
    
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size:1.5vw;
}

nav ul li, footer ul li, header ul li {
    display: inline;
    margin-right: 20px;
    
}

nav{
    display:flex;
    justify-content: center;
    border-top:3px solid #d5d5d5;
    border-bottom:3px solid #d5d5d5;
    /*  width:100%;*/
   text-align:center;
    margin:auto;
}

    main{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
        
}

.blurb{
    flex-grow:1;
    flex-basis:55%;
    padding:0 0 0 30px;
}


aside{
    background-color:white;
    flex-shrink:1;
}

a {
    text-decoration: none;
    color: #999;
}
img { 
       width: 60%; 
       height: 60%;
    
}
a:hover {
    text-decoration: underline;
}
h1 {
   flex-basis:100%;
    font-size: 1.5em;
    font-family: "Lucida Sans";
}
/*p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    padding: 0em;
}*/
footer {
    display:flex;
    justify-content:center;
    margin-top:10px;
   border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
   /*margin: 20px auto 40px;*/
    font-size: 1em;
}
.posts{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
   /* overflow:hidden;
    height:400px;*/
   
}
.posts li{
flex-basis:300px;
    flex-grow:1;
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:5px;
    font-size:1em;
   
}

ul.posts li {
    list-style: none;
}

.posts section{
font-size:1px,}

h2{padding: 0;}

aside ul{
list-style:none;}

button{
text-align:center;}

ul{
    padding-inline-start: 0px;
}
nav img, footer img{
width:40px;
height:40px;}

@media only screen and (max-width: 400px){
    main{display;flex;
     flex-direction:column;
        flex-wrap:wrap;
    }
    /*nav{font-size: 3;}
    img{width:150px;
    height: 150px;}*/
  }
.pagination{
    display:block;
    width=100%
    padding:10px;
        background-color:grey;
    
}

